<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<block name='title'>标题</block>
    <block name='cssFile'></block>
    <block name='jsFile'></block>
</head>

<body>
	<block name="menu">菜单</block>
	<block name="main">主内容</block>
	<block name="footer">底部</block>
	<block name='js'></block>
</body>
</html>