<extend name='Public:template'/> 
<block name='title'>
	<title>文件列表 -- 61</title> 
</block>
<block name='cssFile'>
	<link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
	<style>  
	.keleyitable {  
	width: 800px;  
	}  
	  
	.keleyitable table, td, th {  
	border: 1px solid green;margin-top:10px;  
	}  
	.klytd {width:100px;text-align:right  
	}  
	.hvttd {  
	width:500px}  
	</style>  
</block>
<block name='jsFile'>
    <script src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
</block>
 
<block name='menu'>
	<nav class="navbar navbar-default" role="navigation">
	   <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" 
	         data-target="#example-navbar-collapse">
	         <span class="sr-only">切换导航</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="__MODULE__/Index/index">留言板系统</a>
	   </div>
	   <div class="collapse navbar-collapse" id="example-navbar-collapse">
	      <ul class="nav navbar-nav">
	         <li><a href="__MODULE__/Index/index">留言板列表</a></li>
	         <li><a href="__MODULE__/User/writeMessage">编写留言</a></li>
	         <li><a href="__MODULE__/User/userInfo">修改信息</a></li>
	         <li class="dropdown active">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	               其他功能 <b class="caret"></b>
	            </a>
	            <ul class="dropdown-menu">
	               <li><a href="__MODULE__/User/uploadFile">上传文件</a></li>
	               <li class="active"><a href="__MODULE__/Index/fileList">上传文件列表</a></li>
	               <li><a href="#">Jasper Report</a></li>
	               <li class="divider"></li>
	               <li><a href="#">分离的链接</a></li>
	               <li class="divider"></li>
	               <li><a href="#">另一个分离的链接</a></li>
	            </ul>
	         </li>
	      </ul>
	   </div>
	</nav>
</block>
<block name='main'>
	<div style="margin:0px auto;" class="keleyitable"><h2>文件列表</h2>
		<volist name='list' id='vo'>
			<table>
				<tr><td class = klytd>上传人：</td><td class = hvttd>{$vo.username}</td></tr>
				<tr><td class = klytd>电话号码：</td><td class = hvttd>{$telephone}</td></tr>
				<tr><td class = klytd>电子邮箱：</td><td class = hvttd>{$email}</td></tr>
				<tr><td class = klytd>文件名：</td><td class = hvttd>{$vo.file_origin_name}</td></tr>
				<tr><td class = klytd>文件类型：</td><td class = hvttd>{$vo.filetype}</td></tr>
				<tr><td class = klytd>备注：</td><td class = hvttd>{$vo.notes}</td></tr>
				<tr><td class = klytd>日期：</td><td class = hvttd>{$vo.uploadtime}</td></tr>
			</table>
		</volist>
	</div>  
</block>
<block name="footer"></block>
<block name='js'></block>