<extend name='Public:template'/>
<block name='title'>
	<title>修改信息</title>
</block>
<block name='cssFile'>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/theme.css" />
	<link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.error {color: #FF0000;}
	</style>
</block>
<block name='jsFile'>
    <script src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
</block>
<block name='menu'>
	<nav class="navbar navbar-default" role="navigation">
	   <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" 
	         data-target="#example-navbar-collapse">
	         <span class="sr-only">切换导航</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="__MODULE__/Index/index">留言板系统</a>
	   </div>
	   <div class="collapse navbar-collapse" id="example-navbar-collapse">
	      <ul class="nav navbar-nav">
	         <li><a href="__MODULE__/Index/index">留言板列表</a></li>
	         <li><a href="__MODULE__/User/writeMessage">编写留言</a></li>
	         <li class="active"><a href="__MODULE__/User/userInfo">修改信息</a></li>
	         <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	               其他功能 <b class="caret"></b>
	            </a>
	            <ul class="dropdown-menu">
	               <li><a href="__MODULE__/User/uploadFile">上传文件</a></li>
	               <li><a href="__MODULE__/Index/fileList">上传文件列表</a></li>
	               <li><a href="#">图像识别</a></li>
	               <li class="divider"></li>
	               <li><a href="#">分离的链接</a></li>
	               <li class="divider"></li>
	               <li><a href="#">另一个分离的链接</a></li>
	            </ul>
	         </li>
	      </ul>
	      <a type="button" class="btn btn-default navbar-btn navbar-right" href="__MODULE__/User/logout">
		     	注销
		    </a>  
	   </div>
	</nav>
</block>
<block name='main'>
    <form action="__MODULE__/User/userInfo" method="post" class="basic-grey" enctype="multipart/form-data">
    	<h1>Contact Form
    		<span>Please fill all the texts in the fields.</span>
    	</h1>
    	<label>
    		<span>Telephone :</span>
    		<input id="telephone" type="text" name="telephone" placeholder="Your telephone number" />
    	</label>
    	<label>
    		<span>Email :</span>
    		<input id="email" type="text" name="email" placeholder="Your email" />
    	</label>
	    <label>
		    <span>&nbsp;</span>
		    <input type="submit" class="button" value="Send" />
	    </label>
    </form>

	<select name="selection_theme">
    	<option value="basic-grey" selected="selected">basic-grey</option>
    	<option value="bootstrap-frm">bootstrap-frm</option>
    	<option value="elegant-aero">elegant-aero</option>
    	<option value="smart-green">smart-green</option>
    	<option value="white-pink">white-pink</option>
    	<option value="dark-matter">dark-matter</option>
	</select>
</block>
<block name='footer'></block>
<block name='js'>
    <script type="text/javascript">
    	$(document).ready(function(){
  			$("select[name='selection_theme']").change(function(){
  				var checkValue=$("select[name='selection_theme']").val(); 
  				alert(checkValue);
			    $("form").attr("class", checkValue);
		 	});
		});
    </script>
</block>
